# Entorno virtual
.venv/
venv/

# Variables privadas
.env

# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Datos locales generados durante la ejecución
data/
*.sqlite
*.sqlite3
*.db

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db