# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/

# Logs
logs/
*.log

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Archivos temporales
*.tmp